In [143]:
import pandas as pd

In [144]:
data=pd.read_csv('weatherAUS.csv')

In [145]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [147]:
data.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [148]:
cols=['MinTemp' ,'MaxTemp', 'Rainfall','WindSpeed9am','WindSpeed3pm', 'Humidity9am','Humidity3pm','Temp9am', 'Temp3pm','RainToday','RainTomorrow']

In [149]:
df=data[cols]

In [150]:
df

,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,No,No
1,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,No,No
2,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,No,No
3,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,No,No
4,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.4,0.0,13.0,11.0,51.0,24.0,10.1,22.4,No,No
145456,3.6,25.3,0.0,13.0,9.0,56.0,21.0,10.9,24.5,No,No
145457,5.4,26.9,0.0,9.0,9.0,53.0,24.0,12.5,26.1,No,No
145458,7.8,27.0,0.0,13.0,7.0,51.0,24.0,15.1,26.0,No,No
145459,14.9,NaN,0.0,17.0,17.0,62.0,36.0,15.0,20.9,No,NaN

In [151]:
df.isnull().sum()

MinTemp         1485
MaxTemp         1261
Rainfall        3261
WindSpeed9am    1767
WindSpeed3pm    3062
Humidity9am     2654
Humidity3pm     4507
Temp9am         1767
Temp3pm         3609
RainToday       3261
RainTomorrow    3267
dtype: int64

In [152]:
df.dropna(inplace=True)

<ipython-input-152-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [153]:
df

,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,No,No
1,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,No,No
2,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,No,No
3,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,No,No
4,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...
145454,3.5,21.8,0.0,15.0,13.0,59.0,27.0,9.4,20.9,No,No
145455,2.8,23.4,0.0,13.0,11.0,51.0,24.0,10.1,22.4,No,No
145456,3.6,25.3,0.0,13.0,9.0,56.0,21.0,10.9,24.5,No,No
145457,5.4,26.9,0.0,9.0,9.0,53.0,24.0,12.5,26.1,No,No
145458,7.8,27.0,0.0,13.0,7.0,51.0,24.0,15.1,26.0,No,No

In [154]:
df.loc[df['RainToday']== 'No', 'RainToday']=1
df.loc[df['RainToday']== 'Yes', 'RainToday']=0
df.loc[df['RainTomorrow']== 'No', 'RainTomorrow']=1
df.loc[df['RainTomorrow']== 'Yes', 'RainTomorrow']=0

C:\Users\guluz\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [155]:
df.RainToday=df.RainToday.astype(float)
df.RainTomorrow=df.RainTomorrow.astype(float)

C:\Users\guluz\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [156]:
df.head()

,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,20.0,24.0,71.0,22.0,16.9,21.8,1.0,1.0
1,7.4,25.1,0.0,4.0,22.0,44.0,25.0,17.2,24.3,1.0,1.0
2,12.9,25.7,0.0,19.0,26.0,38.0,30.0,21.0,23.2,1.0,1.0
3,9.2,28.0,0.0,11.0,9.0,45.0,16.0,18.1,26.5,1.0,1.0
4,17.5,32.3,1.0,7.0,20.0,82.0,33.0,17.8,29.7,1.0,1.0

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135643 entries, 0 to 145458
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   MinTemp       135643 non-null  float64
 1   MaxTemp       135643 non-null  float64
 2   Rainfall      135643 non-null  float64
 3   WindSpeed9am  135643 non-null  float64
 4   WindSpeed3pm  135643 non-null  float64
 5   Humidity9am   135643 non-null  float64
 6   Humidity3pm   135643 non-null  float64
 7   Temp9am       135643 non-null  float64
 8   Temp3pm       135643 non-null  float64
 9   RainToday     135643 non-null  float64
 10  RainTomorrow  135643 non-null  float64
dtypes: float64(11)
memory usage: 12.4 MB

In [1]:
X=df.drop('RainTomorrow', axis=1)
y=df['RainTomorrow']

NameError: name 'df' is not defined

In [159]:
from sklearn.model_selection import train_test_split

In [160]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=123)

In [161]:
pip install torch

Requirement already satisfied: torch in c:\users\guluz\anaconda3\lib\site-packages (1.9.1+cu102)
Requirement already satisfied: typing-extensions in c:\users\guluz\anaconda3\lib\site-packages (from torch) (3.7.4.3)
Note: you may need to restart the kernel to use updated packages.

In [162]:
import torch

In [163]:
X_train=torch.from_numpy(X_train.values).float()
X_test=torch.from_numpy(X_test.values).float()
y_train=torch.from_numpy(y_train.values).float()
y_test=torch.from_numpy(y_test.values).float()

In [164]:
from torch.utils.data import TensorDataset

In [165]:
train_data=TensorDataset(X_train, y_train)
test_data=TensorDataset(X_test, y_test)

In [166]:
from torch.utils.data import DataLoader

In [167]:
train_dataloader=DataLoader(train_data, batch_size=64, shuffle=True)
test_dataloader=DataLoader(test_data, batch_size=64, shuffle=True)

In [168]:
from torch import nn

In [169]:
class neuralnetwork(nn.Module):
    def __init__(self):
        super(neuralnetwork,self).__init__()
        self.model=nn.Sequential(
        nn.Linear(10,10),
        nn.ReLU(),
        nn.Linear(10,5),
        nn.ReLU(),
        nn.Linear(5,1),
        nn.Sigmoid()
        )
    def forward( self,x):
        return self.model(x)

In [170]:
model=neuralnetwork()

In [171]:
learning_rate=0.002
batch_size=64
epochs=6

In [172]:
loss_fn=nn.BCELoss()

In [173]:
optimizer=torch.optim.SGD(model.parameters(), lr=learning_rate)

In [174]:
def train(dataloader,model,loss_fn, optimizer):
    size=len(dataloader.dataset)
    for batch, (X,y)in enumerate (dataloader):
        pred=model(X.float())
        y=y.unsqueeze(1).float()
        loss=loss_fn(pred,y)
        
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        
        if batch %100==0:
            loss, current=loss.item(), batch*len(X)
            print(f'loss:{loss:>10f} [{current:>5d}/{size:5d}]')
def test(dataloader, model, loss_fn):
    size=len(dataloader.dataset)
    test_loss,correct=0,0
    with torch.no_grad():
        for X,y in dataloader:
            pred=model(X.float())
            y=y.unsqueeze(1).float()
            test_loss+=loss_fn(pred,y).item()
            correct+= (pred.ge(0.5)==y).type(torch.float).sum().item()
    test_loss/=size
    correct/=size
    print(f'test error: Accuracy: {(100*correct):>0.1f}%, Avg loss: {test_loss:>8f}')

In [175]:
for t in range(epochs):
    print(f'Epoch {t+1}\n---')
    train(train_dataloader, model, loss_fn, optimizer)
    test(test_dataloader, model, loss_fn)
print('done')

Epoch 1
---
loss:  0.960659 [    0/101732]
loss:  0.748697 [ 6400/101732]
loss:  0.717851 [12800/101732]
loss:  0.700821 [19200/101732]
loss:  0.685851 [25600/101732]
loss:  0.675267 [32000/101732]
loss:  0.654130 [38400/101732]
loss:  0.654689 [44800/101732]
loss:  0.634750 [51200/101732]
loss:  0.619977 [57600/101732]
loss:  0.642905 [64000/101732]
loss:  0.627433 [70400/101732]
loss:  0.597745 [76800/101732]
loss:  0.610803 [83200/101732]
loss:  0.591103 [89600/101732]
loss:  0.623704 [96000/101732]
test error: Accuracy: 78.0%, Avg loss: 0.009102
Epoch 2
---
loss:  0.581380 [    0/101732]
loss:  0.560178 [ 6400/101732]
loss:  0.554846 [12800/101732]
loss:  0.521799 [19200/101732]
loss:  0.525818 [25600/101732]
loss:  0.561926 [32000/101732]
loss:  0.601283 [38400/101732]
loss:  0.567362 [44800/101732]
loss:  0.531655 [51200/101732]
loss:  0.528722 [57600/101732]
loss:  0.609254 [64000/101732]
loss:  0.547747 [70400/101732]
loss:  0.521178 [76800/101732]
loss:  0.557727 [83200/101732]
loss:  0.543231 [89600/101732]
loss:  0.568424 [96000/101732]
test error: Accuracy: 78.0%, Avg loss: 0.008475
Epoch 3
---
loss:  0.647123 [    0/101732]
loss:  0.512259 [ 6400/101732]
loss:  0.523877 [12800/101732]
loss:  0.622552 [19200/101732]
loss:  0.479254 [25600/101732]
loss:  0.506605 [32000/101732]
loss:  0.579342 [38400/101732]
loss:  0.519275 [44800/101732]
loss:  0.549832 [51200/101732]
loss:  0.471774 [57600/101732]
loss:  0.501986 [64000/101732]
loss:  0.485512 [70400/101732]
loss:  0.467981 [76800/101732]
loss:  0.467737 [83200/101732]
loss:  0.466666 [89600/101732]
loss:  0.546575 [96000/101732]
test error: Accuracy: 78.0%, Avg loss: 0.008312
Epoch 4
---
loss:  0.513929 [    0/101732]
loss:  0.513522 [ 6400/101732]
loss:  0.545429 [12800/101732]
loss:  0.546019 [19200/101732]
loss:  0.579115 [25600/101732]
loss:  0.562570 [32000/101732]
loss:  0.494751 [38400/101732]
loss:  0.511362 [44800/101732]
loss:  0.477643 [51200/101732]
loss:  0.510772 [57600/101732]
loss:  0.562371 [64000/101732]
loss:  0.492809 [70400/101732]
loss:  0.492479 [76800/101732]
loss:  0.579971 [83200/101732]
loss:  0.491762 [89600/101732]
loss:  0.562463 [96000/101732]
test error: Accuracy: 78.0%, Avg loss: 0.008264
Epoch 5
---
loss:  0.562490 [    0/101732]
loss:  0.544647 [ 6400/101732]
loss:  0.598452 [12800/101732]
loss:  0.652622 [19200/101732]
loss:  0.526732 [25600/101732]
loss:  0.544557 [32000/101732]
loss:  0.489980 [38400/101732]
loss:  0.489826 [44800/101732]
loss:  0.507970 [51200/101732]
loss:  0.599497 [57600/101732]
loss:  0.562910 [64000/101732]
loss:  0.526073 [70400/101732]
loss:  0.562995 [76800/101732]
loss:  0.544509 [83200/101732]
loss:  0.507536 [89600/101732]
loss:  0.507771 [96000/101732]
test error: Accuracy: 78.0%, Avg loss: 0.008249
Epoch 6
---
loss:  0.563242 [    0/101732]
loss:  0.469854 [ 6400/101732]
loss:  0.562701 [12800/101732]
loss:  0.507043 [19200/101732]
loss:  0.694672 [25600/101732]
loss:  0.639441 [32000/101732]
loss:  0.544916 [38400/101732]
loss:  0.582318 [44800/101732]
loss:  0.450132 [51200/101732]
loss:  0.544583 [57600/101732]
loss:  0.582572 [64000/101732]
loss:  0.525578 [70400/101732]
loss:  0.639930 [76800/101732]
loss:  0.581051 [83200/101732]
loss:  0.601820 [89600/101732]
loss:  0.601907 [96000/101732]
test error: Accuracy: 78.0%, Avg loss: 0.008243
done